body {
	font-family: 'Open Sans', sans-serif;
	margin: 0px;
	padding: 0px;
	font-color: #fff;
}

/* General link styles*/
a {
	color: #166fff;
	/*D8562B*/
}
a:hover {
	/*color: #1CBC69;*/
	color: #6716ff;
	text-decoration: none;
}

/* Nav bar styles */
.navbar, .navbar-inner{
	filter: alpha(opacity=90);
	-moz-opacity: 0.9;
	-khtml-opacity: 0.9;
	opacity: 0.9;
	color: #e6e6e6;
}
#navbar .navbar-nav li a {
	color: #166fff;
}
.navbar-header .navbar-brand {
	color: #e6e6e6;
}
.navbar-form {
	padding-top: 8px;
	color: #e6e6e6;
}

.container-fluid {
z-index:1;
}

img.bg {
	/* Set rules to fill background */
	min-height: 100%;
	min-width: 1024px;

	/* Set up proportionate scaling */
	width: 100%;
	height: auto;

	/* Set up positioning */
	position: fixed;
	top: 0;
	left: 0;
}
.parallax {
	z-index:1;
	width:100%;
	min-height:100%;
	height:100%;
}

.panel-info > .panel-heading {
	background-color: #166fff;
	top: 50%;
	left: 50%;
	border-color: #000000;
}

.panel-info {
	border-color: #166fff;
	position: fixed; /* or absolute */
   top: 35%;
   left: 40%;
}

.panel-title {
	color: #e6e6e6;
}

.loginbox {
	margin-top: 60px;
}

.maincontent {
	padding-top: 60px;
	min-height: 100%;
	position: absolute;
	top: 0;
	background-color: #fff;
	padding-bottom: 65px;
}

.mainbox {
	background-color: #fff;
	width:80%;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
	min-height: 100%;
}

.footer {
	margin: -15px;
	padding: 10px;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #000;
	z-index: 1;
}

/* Page styles */

.search_case_display {
	width: 200px;
	display: inline-block;
	text-align: center;
}

.search_case_title {
	font-size: 14px;
	display: block;
	font-weight: bold;
}

.search_case_number {
	font-size: 11px;
	display: block;
}

/* Case detail styles */
.detail_case_display {
	text-align: center;
	margin-top: 20px;
}
.detail_case_img {
	margin-bottom: 20px;
}
.detail_case_title {
	font-size: 20px;
	display: block;
	font-weight: bold;
}
.detail_case_number {
	font-size: 16px;
	display: block;
}
.detail_case_statement {
	text-align: left;
	margin-top: 20px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
