body {
	font-family: 'Open Sans', sans-serif;
	margin: 0px;
	padding: 0px;
	font-color: #fff;
}

/* General link styles*/
a {
	color: #166fff;
	/*D8562B*/
}
a:hover {
	/*color: #1CBC69;*/
	color: #6716ff;
	text-decoration: none;
}

/* Nav bar styles */
.navbar, .navbar-inner{
	filter: alpha(opacity=90);
	-moz-opacity: 0.9;
	-khtml-opacity: 0.9;
	opacity: 0.9;
	color: #e6e6e6;
}
#navbar .navbar-nav li a {
	color: #166fff;
}
.navbar-header .navbar-brand {
	color: #e6e6e6;
}
.navbar-form {
	padding-top: 8px;
	color: #e6e6e6;
}

.hvr-curl-top-right {
	display: inline-block;
	vertical-align: middle;
	text-shadow: 2px 2px 5px rgb(39, 41, 217);
	position: relative;
}



.container-fluid {
z-index:1;
}

img.bg {
	/* Set rules to fill background */
	min-height: 100%;
	min-width: 1024px;

	/* Set up proportionate scaling */
	width: 100%;
	height: auto;

	/* Set up positioning */
	position: fixed;
	top: 0;
	left: 0;
}
.parallax {
	z-index:1;
	width:100%;
	min-height:100%;
	height:100%;
}

.panel-info > .panel-heading {
	background-color: #166fff;
	border-color: #000000;
}

.panel-info {
	border-color: #166fff;
}

.panel-title {
	color: #e6e6e6;
}

.loginbox {
	margin-top: 60px;
}

.maincontent {
	padding-top: 60px;
	min-height: 100%;
	position: absolute;
	top: 0;
	background-color: #fff;
	padding-bottom: 65px;
}

.mainbox {
	background-color: #fff;
	width:80%;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
	min-height: 100%;
}

.footer {
	margin: -15px;
	padding: 10px;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #000;
	z-index: 1;
}

/* Fix a couple things for mobile/low-res */

@media screen and (max-width: 768px) {
	img.bg {
		left: 50%;
		margin-left: -512px;   /* 50% */
	}
	.maincontent {
		width: 80%;
		left: 10%;
	}
}

/* Storefront styles */

.search_case_display {
	width: 200px;
	display: inline-block;
	text-align: center;
}

.search_case_title {
	font-size: 14px;
	display: block;
	font-weight: bold;
}

.search_case_number {
	font-size: 11px;
	display: block;
}
.storefront_add_to_cart {
	display: block;
	margin-top: 10px;
}

/* Book detail styles */
.detail_case_display {
	text-align: center;
	margin-top: 20px;
}
.detail_case_img {
	margin-bottom: 20px;
}
.detail_case_title {
	font-size: 20px;
	display: block;
	font-weight: bold;
}
.detail_case_number {
	font-size: 16px;
	display: block;
}
.detail_case_statement {
	text-align: left;
	margin-top: 20px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
.detail_book_reviews_title {
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 20px;
	display:block;
	font-weight: bold;
}
.detail_book_reviews_map {
	width: 500px;
	height: 300px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

/* Cart Styles */
.cart_container {
	display: block;
	max-width: 750px;
	margin-left: auto;
	margin-right: auto;
}
.cart_item {
	width: 100%;
	margin-top: 20px;
	display: block;
	border-bottom: 1px solid black;
	padding-bottom: 20px;
}
.cart_listing {
	display: inline-block;
	width: 50%;
}
.cart_listing .title {
	display: block;
	font-weight: bold;
}
.cart_price {
	display: inline-block;
	text-align: right;
	width: 49%;
	vertical-align: top;
}
.cart_value {
	font-weight: bold;
}
.cart_quantity {
	display: block;
}
.cart_total {
	text-align: right;
	margin-top: 20px;
}
